.footer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
}

.footer a {
  color: white;
}

.footer li {
  margin-right: 47px;
  margin-top: 51px;
}

.footer li:last-child {
  margin-right: 20px;
}

.footer p {
  font-size: 22px;
  margin-left: 20px;
}
